.properties__caption .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.properties__caption .description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    height: 150px;
}

.properties__card .unit_cover {
    height: 220px;
    object-fit: cover;
    object-position: top;
}